html, body {
  margin: 0;
  min-height: 100vh;
  background-color: $retro-green !important;
  background-size: cover;
}

#app {
  background: linear-gradient(
    180deg,
    #26FFB0 11%,
    rgba(11, 217, 141, 1) 75%
  );

  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}

.inline-heading {
  display: inline-block;
  padding-right: 1em;
}

.app-wrap {
  padding: 10px;
}

.songlistPanel {
  width: 65% !important;
  z-index: 1021 !important;
}

@media screen and (max-width: 1560px) {
  .songlistPanel {
      width: 85% !important;
  }
}

@media screen and (max-width: 1200px) {
  .songlistPanel {
      width: 100% !important;
  }
}

.img-lg {
  height: 175px;
  width: 175px;
}

.img-md {
  height: 64px;
  width: 64px;
  border: 1px solid gray;
}

.center-img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media screen and (min-width: 992px) {
  .center-img {
      width: 64px !important;
      height: 64px !important;
  }
}

.img-sm {
  height: 30px;
  width: 30px;
}

.bold {
  font-weight: bold;
}


.search-icon {
  height: 25px;
  width: 25px;
}

footer {
  padding-bottom: 10px;
  bottom: 0%;
  width: 100%;
}

.action-word {
  text-decoration: underline;
  color: $primary-shade;
}

a.action {
  // color: $retro-green !important;
  text-decoration: underline !important;
}

.spotify-user-img {
  height:40px;
  width:40px;
  border-radius: 50%;
  margin-right:0.5em !important;
}

.retroset-icon {
  display: inline !important;
}

.add-song-btn {
  margin-top: 0.5em !important;
  background-color: $retro-green !important;
  color: #2156D9 !important;
  border: 0 !important;
  transition: all .2s ease-in-out !important; 
  &:hover {
    transform: scale(1.1) !important;
  }
}
