$black: #000;
$white: #fff;
$grey-darker: #111;
$grey-dark: #333;
$grey: #999;
$grey-light: #ccc;
$grey-lighter: #f5f5f5;
$gold: #ac955f;
$blue: #2196f3;
$success: #0BD98D;
$error: #D94A2B;
$danger: #D94A2B;
$warning: #ffc105;
$disabled: #aaa;
$primary: #16b5d9;
$primary-shade: #5F9FAD;
$retro-green: #0BD98D;

// Custom colors
$ap-purple: #694364;
$ap-light-purple: #B58BAB;
$ap-lighter-purple: #E3D1E2;
$ap-off-white: #E8E4E1;
$ap-gray: #C4C4C0;
$ap-tan: #CCA772;

$ap-light-purple: #B2999A;
$ap-purple: #66505D;
$ap-dark-purple: #3C343F;
$ap-off-white: #DDE3D5;
$ap-red: #A14531;

